<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sirris.jpg') }}">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script>window.jQuery || document.write('<script src="{{url_for('static', filename='vendors/jquery/jquery-3.3.1.js') }}">\x3C/script>')</script> -->
  <script src="{{url_for('static', filename='vendors/jquery/jquery-3.3.1.js') }}"></script>
  <script src="{{url_for('static', filename='vendors/qrcodejs/qrcode.min.js') }}"></script>


<title>First button page</title>
</head>

<body>

<div class="container"> 
  <div class="grid-container">
    <div class="grid-container-left">
        <p>Hello from {{ ip_address }}</p>
        <form class="green" action="/" method="get">
          <!-- or method="post" -->
          <input type="submit" value="Click Me Back">
        </form>
        <form class="green" method="post">
          <!-- or method="post" -->
          <div class="form-group">
            <label for="counter">Count untill </label>
            <input name="counter" id="counter" size="5" required>
          </div>
          <input type="submit" value="Start counting">
          <div id="ctr">ready to start counting.</div>
        </form>
        <form class="green">
          <div align="center" id="qrcode"></div>
          <div id="qrcode_text"></div>
        </form>
    </div>
    <div class="grid-container-right">
        <div id="ctr_cont">counting continuously:<br></div>
    </div>
  </div>
</div>
 

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!-- ip_address is returned variable in connected method in python script -->
<script>
  $("#qrcode_text").text("{{ ip_address }}:5000/shutdown");
</script>

<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "{{ ip_address }}:5000",
    width: 128,
    height: 128,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
  });
</script>

<!-- data is returned stream from connected method in python script -->
{% for c in data: %}
<script>
  $("#ctr").text("counting on server side: {{ c }}")
</script>
{% endfor %}

{% for cc in data_cont: %}
<script>
  $("#ctr_cont").text("counting continuously: {{ cc }}")
</script>
{% endfor %}


</body>

</html>