<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/sirris.jpg') }}">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script>window.jQuery || document.write('<script src="{{url_for('static', filename='vendors/jquery/jquery-3.3.1.js') }}">\x3C/script>')</script> -->
  <script src="{{url_for('static', filename='vendors/jquery/jquery-3.3.1.js') }}"></script>
  <!--gaugemeter-->
  <script
    src="{{url_for('static', filename='js/Customizable-Animated-jQuery-HTML5-Gauge-Meter-Plugin/GaugeMeter.js') }}"></script>

  <title>Streaming variable page</title>
</head>

<body>
  <div class="grid-container">
    <div class="grid-container-left">
      <form>
        <output name="sine_var" id="sine_var">variable</output>
      </form>
    </div>
    <div class="grid-container-right">
        <form class="green" action="/" method="get">
          <!-- or method="post" -->
          <input type="submit" value="Home">
        </form>
    </div>
  </div>

  <div class="container">
    <div class="GaugeMeter gaugeMeter" id="GaugeMeter_1" data-size="200" data-label="Percent" data-animationstep="0">
    </div>
    <div class="GaugeMeter gaugeMeter" id="GaugeMeter_2" data-size="200" data-label="Percent" data-animationstep="0">
    </div>
  </div>

  <script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script> <!-- data is returned
    stream from connected method in python script -->
  {% for c in data: %}
  <script>
    var c_str = "{{ c }}".replace(/&#34;/g, "\"")
        .replace(/&#39;/g, "\"");
    var c_json = JSON.parse(c_str);
    var sine_value = c_json.sine_datapoint;
    $("#GaugeMeter_1").gaugeMeter({ percent: sine_value});
    $("#GaugeMeter_2").gaugeMeter({ percent: sine_value});
    $("#sine_var").text(sine_value);
  </script>
  {% endfor %}


</body>

</html>