* {
  margin: 5px;
  padding: 0px;
}

h1 {
  font: bold 25px Helvetica;
}

h2 {
  font: bold 19px Helvetica;
}

h3 {
  font: bold 14px Helvetica;
}

body {
  background-color: lightgrey;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: darkslategray;
  max-width: auto;
  margin: 5px auto;
  padding: 3px;
  width: auto;
  display: block;
  text-align: center;
  align-items: flex-start;
}
.container>div.flex-container {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  justify-content: center;
  display:flex;
}
.container>div.block-container {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  justify-content: center;
  display:block;
}

.grid-container-left {
  grid-area: left;
}

.grid-container-middle {
  grid-area: middle;
}

.grid-container-right {
  grid-area: right;
}

.grid-container {
  display: grid;
  grid-template: 'left middle right';
  grid-gap: 5px auto;
  background-color: darkslategrey;
  max-width: auto;
  padding: 5px;
  margin: 5px auto;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 28px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  padding: 10px;
  background-color: green;
  text-align: center;
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

form.green_button {
  background-color: green;
  width: min-content;
  min-width: auto;
  padding: 5px;
  border: none;
  border-radius: 45px;

}
form.red_button {
  background-color: red;
  width: min-content;
  min-width: auto;
  padding: 5px;
  border: none;
  border-radius: 45px;
}
form.orange_button {
  background-color: orange;
  width: min-content;
  min-width: auto;
  padding: 5px;
  border: none;
  border-radius: 45px;
}

.wide {
  width: 600px;
}

button {
  height: 70px;
  width: 200px;
  max-width: 400px;
  min-width: auto;
  margin: 1px;
  text-align: center;
  display:inline-block;
  font: 25px Helvetica;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

input {
  height: 35px;
  width: 100%;
  max-width: 100px;
  min-width: auto;
  margin: 0px auto;
  text-align: center;
  display:inline-block;
  font: 15px Helvetica;
  padding: 5px;
  margin: 5px;
}
input[type=submit] {
  background-color: white;
  height: 25px;
  width: 100%;
  max-width: 100px;
  min-width: auto;
  margin: 0px auto;
  text-align: center;
  display:inline-block;
  font: 25px Helvetica;
}
input[type=output] {
  background-color: lightgray;
  font: 25px Helvetica;
  cursor: not-allowed;
}
input[type=text] {
  background-color: white;
  font: 25px Helvetica;
}

output[type=normal] {
  background-color: lightgray;
  /* background-image: url('/static/images/powerbutton.svg');
  background-position: 10px 10px; 
  background-size: 80px;
  background-repeat: no-repeat; */
  height: 40px;
  width: 100%;
  min-width: 200px;
  margin: 0px auto;
  text-align: center;
  font: 18px Helvetica;
  padding: 5px;
  margin: 5px;
}

.label_value_pair{
  display: inline-block;
  width: 100%;
  margin: 5px auto;
}

.input_label{
  background-color: whitesmoke;
  display: inline-flex;
  width: 45%;
  min-width: auto;
  max-width: 400px;
  padding: 3px;
  margin: 5px auto;
  text-align: left;
  height:auto;
  font: 14px Helvetica;
}
.output_label{
  display: inline-table;
  width: 45%;
  min-width: auto;
  max-width: 400px;
  padding: 5px;
  margin: 5px auto;
  text-align: right;
  background-color: lightgray;
  height:auto;
}


/* gaugemeter styles*/

.GaugeMeter {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
  display: inline-block;
}

.GaugeMeter SPAN, .GaugeMeter B {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -20%;
  top: 0px;
  text-align: Center;
  display: Inline-Block;
  color: RGBa(0,0,0,.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin: 0 23%;
}

.GaugeMeter[data-style="Semi"] B {
  width: 100%;
  margin: 0 10%;
}

.GaugeMeter S, .GaugeMeter U {
  text-decoration: None;
  font-size: .60em;
  font-weight: 200;
  opacity: .6;
}

.GaugeMeter B {
  color: #000;
  font-weight: 200;
  opacity: .8;
}

/* Sine wave graph */
.label{
  flex:1;
  vertical-align: middle;
  text-align: center;
}
.sine{
  flex:3;
  text-align: center;
  background-color: lightgray;
  margin: 10px;
}
